/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;
$background: -webkit-repeating-radial-gradient( center center, black, black 1px, white 1px, white 100% );

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.reveal-viewport {
	background-image: $background !important;
	background-size: 8px 8px !important;
}

.reveal h2 {
	font-weight: 400 !important;
}

.reveal iframe {
	box-shadow: 12px 12px 0 0 $mainColor !important;
	border: 4px solid $mainColor !important;
	width: 100% !important;
	height: 50vh !important;
}

[data-layout="column"] {
	display: grid !important;
	grid-template-columns: repeat(3, 1fr) !important;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
